<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Rental Bike System</a>
  </div>
</nav>
<div class="container mt-4">
    <h2>Register</h2>
    <form (ngSubmit)="onRegister()" #registerForm="ngForm">
      <div class="mb-3">
        <label for="name" class="form-label">Username</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="name" name="name">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" required [(ngModel)]="email" name="email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" required [(ngModel)]="password" name="password">
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input type="phone" class="form-control" id="phone" required [(ngModel)]="phone" name="phone">
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <input type="address" class="form-control" id="address" required [(ngModel)]="address" name="address">
      </div>
      
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
  