<div class="booking-container">
    <h2>Book a Bike</h2>
  
    <form (ngSubmit)="onBookClick()">
        <div class="form-group">
            <label for="fromDate">From Date:</label>
            <input type="date" id="fromDate" [(ngModel)]="fromDate" name="fromDate" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="toDate">To Date:</label>
            <input type="date" id="toDate" [(ngModel)]="toDate" name="toDate" class="form-control" required>
          </div>
      <div class="form-group">
        <label for="fromTime">From Time:</label>
        <input type="time" id="fromTime" [(ngModel)]="fromTime" name="fromTime" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label for="toTime">To Time:</label>
        <input type="time" id="toTime" [(ngModel)]="toTime" name="toTime" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label for="totalPrice">Total Price:</label>
        <input type="number" id="totalPrice" [(ngModel)]="totalPrice" name="totalPrice" class="form-control" required>
      </div>
      
      <div>
        <br>
        <a href="/my_bookings">Confirm</a>
      </div>
    
    </form>
  
    <div class="text-center">
        <br>
        <!-- Use Angular's routerLink directive with dynamic bikeId -->
        <a href="/dashboard">Go Back</a>
      </div>

    
  