<div class="add-bike-container">
    <h2>Add New Bike</h2>
    <form (ngSubmit)="addBike()" enctype="multipart/form-data">
      <div class="form-group">
        <label for="brand">Brand</label>
        <input type="text" id="brand" [(ngModel)]="brand" name="brand" required>
      </div>
      <div class="form-group">
        <label for="model">Model</label>
        <input type="text" id="model" [(ngModel)]="model" name="model" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" [(ngModel)]="description" name="description" required>
      </div>
      <div class="form-group">
        <label for="hourlyRate">Hourly Rate</label>
        <input type="number" id="hourlyRate" [(ngModel)]="hourlyRate" name="hourlyRate" required>
      </div>
      <div class="form-group">
        <label for="transmission">Transmission</label>
        <select id="transmission" [(ngModel)]="transmission" name="transmission" required>
          <option value="Gear">Gear</option>
          <option value="Electric">Electric</option>
        </select>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <select id="status" [(ngModel)]="status" name="status" required>
            <option value="Available">Available</option>
            <option value="Booked">Booked</option>
          </select>
      </div>
      <div class="form-group">
        <label for="image">Upload Image</label>
        <input type="file" id="image" (change)="onFileSelect($event)" accept="image/*" required>
      </div>
      <button type="submit">Add Bike</button>
    </form>
  </div>
  
  