<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
    <a class="navbar-brand">Rental Bike System</a>
    
    <div class="ml-auto">
      <button routerLink="/admin/dashboard" class="btn btn-primary mx-2">Dashboard</button>
      <button routerLink="/admin/orders" class="btn btn-primary mx-2">Orders</button>
      <button routerLink="/admin/add-bike" class="btn btn-primary mx-2">Add Bike</button>
      
      <button (click)="logout()" class="btn btn-danger mx-2">Logout</button>
    </div>
  </nav>
  